.number-only-input {
  margin-left: 10px;
}

.form {
  margin-top: 50px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 25px;
}
.card {
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
}
.arrow-drop-down {
  width: 25px;
  cursor: pointer;
  font-style: normal;
  padding-top: 10px;
  position: relative;
  left: -8px;
}
.arrow-down {
	display: block;
}
.arrow-up {
	display: none;
}
.collapsible-indicator {
  font-size: 30px;
  line-height: 30px;
}
.collapsed .collapsible-section {
  display: none;
}
.collapsed .arrow-down {
  display: none;
}
.collapsed .arrow-up {
  display: block;
}

.btn-arrow {
  width: 45px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.arrow-drop-down  { 
  position: relative;
  top: -18px;
}

.my-tooltip {
  position: relative;
}

.quote-title {
  margin-bottom: 25px;
  text-align: left;
}
.quote-text {
  text-align: center;
}


