<div class="header">
  Directives
</div>

<form class="container form">
  <div class="numbers-only">
    <h5 for="exampleInputEmail1">Validate phone number (numbersOnly.directive)</h5>
    <input type="text" class="form-control" appNumbersOnly>
  </div>
  <hr>
  <div class="colored">
    <h5>Color text (colored.directive)</h5>
    <p appColored>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae ut quibusdam tempora eum error cupiditate aperiam earum. 
    </p>
  </div>
  <hr>
  <div class="my-tooltip">
    <h5>Show callout on button hover (tooltip.directive)</h5>
    <button type="button" class="btn btn-primary" [appTooltip]="'It is my You looking for?'">Hello?</button>
  </div>
  <hr>
  <div class="collapse-on-click">
    <h5>Collapse on click(collapse-on-click.directive)</h5>
    <div class="card card-strong" appCollapseOnClick>
      <div class="btn btn-primary btn-arrow">
        <div class="arrow-drop-down collapsible-indicator">  
          <span class="arrow-down">&#9652;</span>
          <span class="arrow-up">&#9662;</span>
        </div>
      </div>
      <div class="collapsible-section">
        This page is collapsible, double click it and it will collapse or expand.
      </div>
    </div>
  </div>
  <hr>
  <div class="quote">
   <h5 class="quote-title">Change the text of a given DOM element to a quote (quote.directive)</h5>
    <div 
      appQuote
      [politicianAuthor]="'Abraham Lincoln'" 
      [politicianQuote]="'Government of the people, by the people, for the people, shall not perish from the Earth.'"
    ></div>
  </div>

</form>