/* You can add global styles to this file, and also import other style files */


body, html {
    margin: 0;
    padding: 0;
}

.header {
    font-size: 28px;
    background-color: darkolivegreen;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
  }

  .container {
      margin-bottom: 100px;
  }